
.center{
    text-align:center;
}
.eclubfont {
    font-family: 'Gloria Hallelujah', cursive;
}
#features{
    background-image: url("/images/home_background.jpg");
    background-size:cover;
    opacity:0.3;
    height:auto;
}