@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/Index.css" rel="stylesheet" type="text/css" />
}

<h1 class="center">Online E-Club</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <input type="button" class="btn btn-lg" value="Login" onclick="location.href='@Url.Action("Login", "Identity/Account")'" />
        </div>
        <div class="col-lg-6">
            <input type="button" class="btn btn-lg" value="Register" onclick="location.href='@Url.Action("Register", "Identity/Account")'" />
        </div>
    </div>
</div>